﻿body h1 {
    background-color: red;
}

body .top-bar {
    background-color: blue;
}

    body .top-bar .nain-bar {
        width: 88%;
        background-color: green;
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
    }

        body .top-bar .nain-bar .contact-left {
            flex-grow: 4;
            background-color: blueviolet;
            display: flex;
            gap: 29px;
        }

        body .top-bar .nain-bar .login-right {
            flex-grow: 2;
            background-color: palegreen;
            display: flex;
            justify-content: space-around;
        }
